[package]
name = "harp"
version = "0.1.0"
edition = "2024"

[dependencies]
indicatif = "0.18.1"
libloading = "0.8.9"
log = "0.4"
ndarray = "0.16.1"
rayon = "1.11.0"
rstest = "0.26.1"
tempfile = "3.23.0"

[target.'cfg(target_os = "macos")'.dependencies]
metal = "0.32.0"
objc = "0.2"

[dev-dependencies]
env_logger = "0.11"
