[package]
name = "harp"
version = "0.1.0"
edition = "2024"

[dependencies]
indicatif = "0.18.1"
log = "0.4"
libloading = "0.8.9"  # C/OpenMP backendでの動的ライブラリロード用

[target.'cfg(target_os = "macos")'.dependencies]
metal = "0.32.0"
objc = "0.2"

[dev-dependencies]
env_logger = "0.11"
serial_test = "3.2"
